h1 {
    color: rgb(100, 27, 26);
    font-size: 50px;
}

nav {
    background-color: rgba(219, 177, 155, 0.705);
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    background: linear-gradient(90deg, rgba(215, 140, 59, 0.868) 0%, rgba(184, 106, 106, 0.582) 34%, rgba(176, 215, 180, 0.411) 71%), url('../assets/happpydog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
}

li {
    list-style: none;
    display: inline
}

nav ul li {
    margin-left: 2rem;
    font-size: 29px;
    margin-right: 3rem;
}

nav ul li a:hover {
    color: rgb(246, 229, 173);
}

nav ul li a {
    color: rgb(27, 21, 36);
}

a {
    text-decoration: none;
}
main{
    display: flex;
    align-items: center;
    gap: 1px;
   
}
img{
    border-radius: 19px;
    padding-left: 0rem;
}
.borderd{
    border:6px solid rgb(192, 192, 192);
    width: 50%;
    border-radius: 19px;
}

p{
    font-size: 25px;
}
@media (max-width:600px) {
    body {
        background-size: contain;
    }

    ul {
        font-size: 1rem;
        padding-left: 0;
        margin: 0;
    }

    h1 {
        font-size: 2rem;
    }
}
